@import "aimations.styl"
@import "fonts.styl"

:root
  --y-scroll: scroll;



html
  overflow-y: var(--y-scroll);


body
  font-family 'Merriweather', sans-serif

.w100
  //background-color #3c763d
  width 100%

.w100center
  width 100%
  display flex
  flex-direction column
  align-items center
  //justify-content center


.mini
  max-width 600px
.new
  display flex
  justify-content center
